  <div class="small-6 columns">
    <p><%= current_user.name %></p>
    <%= image_tag @user.profile_photo.url(:thumb) %>
  </div>

  <div class="small-6 columns">
    <% if current_user %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

  <div class="show-template">
    <div class="small-12 columns">
     <% if @meal %>
     <h2>Today's Meal:</h2>
     <%= image_tag @meal.meal_photo.url(:medium) %>
     <div>
      Rating: <%= @meal.rating ? @meal.rating : "No Ratings Yet" %>
    </div>
    <% else %>
    <%= link_to "Hey Chef, what did you make today?", new_meal_path %>
    <% end %>
  </div>

  <div class="small-10 columns">
  	<p><%= current_user.name %></p>
  	<button id="vote">Rate Lunches</button>
  	<%= image_tag @user.profile_photo.url(:medium) %>
  </div>
</div>
</div>
<hr>

<div class="vote-template">
  <div class="row">
    <div class="small-4 columns">
      <button class="tiny"><%= link_to 'Profile', user_path(current_user), class: 'white-text' %></button>
    </div>
    <div class="small-4 small-offset-4 columns">
      <button class="tiny"><%= link_to 'Submit a Meal', new_meal_path, class: 'white-text' %></button>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns" id="vote-meal-pic">
      <!-- meal image -->
    </div>
  </div>
  <div class="row">
    <div class="small-8 small-centered columns" id="vote-meal-goalname">
      <!-- meal goal name -->
    </div>
  </div>
  <div class="row">
    <div class="small-8 small-centered columns" id="vote-meal-comment">
      <!-- meal comment -->
    </div>
  </div>
  <div class="row">
    <div class="small-8 small-centered columns" id="vote-meal-ingredients">
      <!-- meal ingredients -->
    </div>
  </div>
  <strong class="choice">Choose a rating</strong>
  <span class="star-rating">
    <input type="radio" name="rating" id="rating-1"><i></i>
    <input type="radio" name="rating" id="rating-2"><i></i>
    <input type="radio" name="rating" id="rating-3"><i></i>
    <input type="radio" name="rating" id="rating-4"><i></i>
    <input type="radio" name="rating" id="rating-5"><i></i>
  </span>
</div>
