<div class="small-6 columns">
	<p><%= current_user.name %></p>
	<%= image_tag @user.profile_photo.url(:thumb) %>
</div>

<div class="small-6 columns">
	<% if current_user %>
	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	<% end %>
</div>

<div class="small-12 columns" align="center"> 
	<% if @meal %> 
		<h2>Today's Meal:</h2>
		<%= image_tag @meal.meal_photo.url(:medium), :class => "todays-meal" %>
		<div>
			<%= render partial:'star', locals: {rating: @meal.rating} %>
			<%= @meal.rating ? @meal.rating : "No Ratings Yet" %>
		</div>
	<% else %>
		<div class="chef-hat">
			<%= link_to image_tag("chefhat.png"), new_meal_path %>
		</div>
		<h2><%= link_to "Hey chef, what did you make today?", new_meal_path %></h2>
<% end %>
</div>

<div class="small-10 columns">
	<p><%= current_user.name %></p>
	<button id="vote">Vote Now Bitch</button>
	<%= image_tag @user.profile_photo.url(:medium) %>
</div>
</div>
<hr>
<div class="row">
	<div class="small-10 columns">
		
			<% i = 0 %>
			<% @meals.each do |meal| %>
				<div class="user-mini-meal">
					<%= link_to (image_tag meal.meal_photo.url(:thumb)), meal %>
					<i class="fa fa-trophy"></i> <%= i %>
					<%= render partial: 'star', locals: {rating: meal.rating} %>
				</div>
		<% i+=1 %>
		<% end %>
	</div>
</div>

<div class="small-12 columns"> 
	<%= button_to "Go To Leaderboard!", ratings_path, method: 'get', class: 'button [radius round]' %>
</div>
