<div class="leaderboard-controls">
  <% @grouped_meals.keys.each do |goal| %>
    <a class="button leaderboard-button" id="<%= goal.name %>"><%= goal.name %></a>
  <% end %>
</div>

<div id="leaderboard-chart">
  <% @grouped_meals.each do |goal, meals| %>
    <div class="leaderboard-individual-chart" id="leaderboard-<%= goal.name %>">
      <h1><%= goal.name %></h1>
      <div class="leaderboard-meal">
        <% meals.sort_by(&:rating).reverse.first(5).each do |meal| %>
          <%= image_tag(meal.meal_photo.url(:thumb), id: meal.rating) %>
        <% end %>
        </div>
    </div>
  <% end %>
</div>

<div id="test-div"></div>
