<div class="leaderboard-controls">
  <% Goal.all.each do |goal| %>
    <a class="button leaderboard-button" id="<%= goal.name %>"><%= goal.name %></a>
  <% end %>
</div>

<div id="leaderboard-chart">
  <% @grouped_meals.each do |goal, meals| %>
    <div class="leaderboard-individual-chart" id="leaderboard-<%= goal.name %>">
      <h1><%= goal.name %></h1>
      <ul class="inline-list leaderboard-meal">
        <% meals.sort_by(&:rating).reverse.first(5).each do |meal| %>
        <ul class="single-bar" id="<%= meal.user.name %>">
          <li><%= meal.rating.round(1) %><i class="fa fa-star yellow-stars"></i></li>
          <li><%= link_to image_tag(meal.meal_photo.url(:thumb), id: meal.rating), meal %></li>
        </ul>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
