<p><%= @meal.goal.name %></p>
<p><%= @meal.comment %></p>
<p><%= @meal.ingredients %></p>
<%= image_tag @meal.meal_photo.url(:medium) %>

<ul>
  <li><strong>Calories: </strong><%= @meal.calories.round(1) %></li>
  <li><strong>Carbs: </strong> <%= @meal.carbs %> g</li>
  <li><strong>Fat: </strong><%= @meal.fat %> g</li>
  <li><strong>Protein: </strong><%= @meal.protein %> g</li>
  <li><strong>Fiber: </strong> <%= @meal.fiber %> g</li>
  <li><strong>Sugar: </strong> <%= @meal.sugar %> g</li>
  <li><strong>Sodium: </strong> <%= @meal.sodium * 1000 %> mg</li>
</ul>
