<div class="row">
  <div class="small-4 small-centered columns">
    <h2 class="center-text">Meal Info</h2>
  </div>
</div>
<div class="row">
  <div class="small-6 columns center-text">
    <h4>Meal Goal: <%= @meal.goal.name %></h4>
    <p>Comments: <%= @meal.comment %></p>
    <p>Ingredients: <%= @meal.ingredients %></p>
    <%= image_tag @meal.meal_photo.url(:medium) %>
  </div>
  <div class="small-6 columns">
    <h4>Ingredients</h4>
    <ul>
      <li><strong>Calories: </strong><%= @meal.calories.round(1) %></li>
      <li><strong>Carbs: </strong> <%= @meal.carbs %> g</li>
      <li><strong>Fat: </strong><%= @meal.fat %> g</li>
      <li><strong>Protein: </strong><%= @meal.protein %> g</li>
      <li><strong>Fiber: </strong> <%= @meal.fiber %> g</li>
      <li><strong>Sugar: </strong> <%= @meal.sugar %> g</li>
      <li><strong>Sodium: </strong> <%= @meal.sodium * 1000 %> mg</li>
    </ul>
  </div>
<div>
