<p><%= @meal.goal.name %></p>
<p><%= @meal.comment %></p>
<p><%= @meal.ingredients %></p>
<%= image_tag @meal.meal_photo.url(:medium) %>

<ul>
  <li><%= @meal.calories.round(1) %> calories</li>
  <li><%= @meal.carbs %> g</li>
  <li><%= @meal.fat %> g</li>
  <li><%= @meal.protein %> g</li>
  <li><%= @meal.fiber %> g</li>
  <li><%= @meal.sugar %> g</li>
  <li><%= @meal.sodium * 1000 %> mg</li>
</ul>