<div class="row">
  <div class="small-6 small-centered columns">
    <h2 class="center-text">Meal Info</h2>
  </div>
</div>
<div class="small-8 small-centered columns center-text bottom-padding">
  <div class="meal-pic-wrapper">
    <%= image_tag @meal.meal_photo.url(:medium), :style => "max-width: 150%;" %>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h4>Meal Goal: <%= @meal.goal.name %></h4>
    <p>Comments: <%= @meal.comment %></p>
    <p>Ingredients: <%= @meal.ingredients %></p>
  </div>
  <div class="small-6 columns">
    <h4>Ingredients</h4>
    <% if @meal.calories %>
      <ul>
        <li><strong>Calories: </strong><%= @meal.calories ? @meal.calories.round(1) : 'N/A' %></li>
        <li><strong>Carbs: </strong> <%= @meal.carbs %> g</li>
        <li><strong>Fat: </strong><%= @meal.fat %> g</li>
        <li><strong>Protein: </strong><%= @meal.protein %> g</li>
        <li><strong>Fiber: </strong> <%= @meal.fiber %> g</li>
        <li><strong>Sugar: </strong> <%= @meal.sugar %> g</li>
        <li><strong>Sodium: </strong> <%= @meal.sodium ? @meal.sodium * 1000 : 'N/A' %> mg</li>
      </ul>
    <% else %>
      <ul>
        <li>No nutritional info found.</li>
      </ul>
    <% end %>
  </div>
</div>
