<p><%= @meal.goal.name %></p>
<p><%= @meal.comment %></p>
<p><%= @meal.ingredients %></p>
<%= image_tag @meal.meal_photo.url(:medium) %>

<ul>
  <li><strong>Calories: </strong><%= @meal.calories.round(1) || 'unknown'%></li>
  <li><strong>Carbs: </strong> <%= @meal.carbs || 'unknown'%> g</li>
  <li><strong>Fat: </strong><%= @meal.fat || 'unknown'%> g</li>
  <li><strong>Protein: </strong><%= @meal.protein || 'unknown'%> g</li>
  <li><strong>Fiber: </strong> <%= @meal.fiber || 'unknown'%> g</li>
  <li><strong>Sugar: </strong> <%= @meal.sugar || 'unknown'%> g</li>
  <li><strong>Sodium: </strong> <%= @meal.sodium * 1000 || 'unknown'%> mg</li>
</ul>
