<div class="meal-info">
  <p class="name"><%= @meal.user.name %></p>
  <p><h3>Goal:</h3> <%= @meal.goal.name %></p>
  <p><h3>Comment:</h3> "<%= @meal.comment %>"</p>
  <p><h3>Ate:</h3> <%= @meal.ingredients %></p>
</div>
<%= image_tag @meal.meal_photo.url(:medium), class: "meal-image" %>

<ul class="meal-stats">
  <li>Calories: <%= @meal.calories.round(1) %></li>
  <li>Carbs: <%= @meal.carbs %>g</li>
  <li>Fat: <%= @meal.fat %>g</li>
  <li>Protein: <%= @meal.protein %>g</li>
  <li>Fiber: <%= @meal.fiber %>g</li>
  <li>Sugar: <%= @meal.sugar %>g</li>
  <li>Sodium: <%= @meal.sodium * 1000 %>mg</li>
</ul>