<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="http://www.clker.com/cliparts/9/h/3/C/J/L/chef-hat-md.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Beat Tadashi's Team</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Rate My Lunch</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="/">Homepage</a></li>
          <li class="active"><a href="/#vote">Voting</a></li>
          <li class="active"><a href="/meals/new">Create A Meal</a></li>
          <li class="active"><a href="/ratings">Leaderboard</a></li>
          <li class="active"> <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% end %>
          </li>
        </ul>


      </section>
    </nav>

    <%= flash[:notice] %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
