<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="http://www.clker.com/cliparts/9/h/3/C/J/L/chef-hat-md.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Beat Tadashi's Team</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
